<% @count = 0 %>
<table>
    <% for @campsite in @campsites %>
    <% @count += 1 %>
        <tr>
            <td><%= @campsite.name %></td>
        </tr>
    <% end %>
</table>
<h3><%= @count %></h3>